{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 20px;">
        <div>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </div>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Business</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="bio layout-spacing ">
                <div class="widget-content widget-content-area">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="upload mt-4 pr-md-4">
                                <label for="fullName">Name <span class="text-danger">*</span></label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="upload mt-4 pr-md-4">
                                <label for="fullName">Email Address <span class="text-danger">*</span></label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="upload mt-4 pr-md-4">
                                <label for="fullName">Neighbourhood <span class="text-danger">*</span></label>
                                {{ form.neighbourhood }}
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-8 mt-md-0 mt-4">
                            <div class="form">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="fullName">Description <span class="text-danger">*</span></label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px;">Add Business</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <a href="{% url 'MyProfile' user.username %}" name='MyProfile'>
                                                <button type="button" class="btn btn-dark btn-lg btn-block">Cancel</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% block footer %}
        <footer class="page-footer">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-dark">
                © Copyright 2022 Nyumba Kumi
            </div>
            <!-- Copyright -->
        </footer>
    {% endblock %}

{% endblock %}