{% extends "Base.html" %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top: 30px;">
        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium; margin-bottom: 30px;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </center>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">{{ profile_details.user.first_name }} {{ profile_details.user.last_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">NeighbourHoods</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row">
            {% if neighbourhoods %}
                <div class="row">
                    {% for neighbourhood in neighbourhoods %}
                        <div class="col-sm-4">
                            <div class="card shadow d-flex align-items-stretch" style="margin-bottom: 30px; border-radius: 3px;">
                                <a href="#" name=""></a>
                                    <img src="{{ neighbourhood.neighbourhood_logo.url }}" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ neighbourhood.title }}</h5>
                                    <div class="badge" style="float:left">
                                        <h6><span  style="font-weight: lighter; font-size: small;">Location: <b>{{ neighbourhood.location }}</b></span></h6>
                                    </div>
                                    <div class="basge" style="float:right">
                                        <h6><span class="badge badge-primary">{{ neighbourhood.county }}</span></h6>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="d-flex flex-row user-info">
                                        {% if profile_details.profile_picture.url %}
                                            <img class="rounded" src="{{ profile_details.profile_picture.url }}" height="40" width="40">
                                        {% else %}
                                            <img class="rounded" src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-8.png" height="40" width="40">
                                        {% endif %}
                                        <div class="d-flex flex-column justify-content-start ml-2">
                                            <a href="#">
                                                <span class="name"><b>{{ neighbourhood.neighbourhood_admin.first_name }} {{ neighbourhood.neighbourhood_admin.last_name }}</b></span>
                                            </a>
                                            <span class="text-muted" style="font-size: small;"><i class="fas fa-calendar-alt"></i> {{ neighbourhood.date_created }}</span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-12" style="margin-top: 20px;">
                    <div class="content text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M19 2H9c-1.103 0-2 .897-2 2v5.586l-4.707 4.707A1 1 0 0 0 3 16v5a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4c0-1.103-.897-2-2-2zm-8 18H5v-5.586l3-3 3 3V20zm8 0h-6v-4a.999.999 0 0 0 .707-1.707L9 9.586V4h10v16z"></path><path d="M11 6h2v2h-2zm4 0h2v2h-2zm0 4.031h2V12h-2zM15 14h2v2h-2zm-8 1h2v2H7z"></path></svg>
                        <br>
                        <h4 class="text-dark py-3">No Associated NeighbourHoods Found</h4>
                        <a href="{% url 'AddNeighbourhood' user.username %}" name="AddNeighbourhood">
                            <button type="submit" class="btn btn-primary btn-md" style="margin-right: 20px;"><i class="fa-solid fa-plus"></i> Add A Neighbourhood</button>
                        </a>
                        <br>
                    </div> 
                </div>
            {% endif %}
        </div>
    </div>   

    {% block footer %}
        <footer class="page-footer">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-dark">
                © Copyright 2022 Nyumba Kumi
            </div>
            <!-- Copyright -->
        </footer>
    {% endblock %}

{% endblock %}