{% load static %}

{% block navbar %}
<div class="container-f">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
        <div class="container">
            <a href="{% url 'Home' %}" name='Home'>
                <img class="py-2" src={% static "assets/img/logo.png" %} alt="" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <form action="#" method="POST" class="form-inline my-2 my-lg-0 searchbar">
                        <div class="bg-light rounded searchbar">
                            <div class="input-group searchbar">
                                <input type="search" name="search" placeholder="Search For Neighbourhoods & Businesses" class="form-control border-0 bg-light searchbar-nv" style="width: 415px;">
                                <div class="input-group-append searchbar">
                                  <button type="submit" class="btn btn-link searchbar"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ul>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        <a href="#">
                            <button type="submit" class="btn btn-primary btn-md"><i class="fal fa-pencil"></i> Add A Business</button>
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-md btnlink ms-3" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" style="margin-left: 30px;">
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                                <a class="dropdown-item" href="#"><i class="fal fa-user-alt"></i> My Profile</a>
                                <a class="dropdown-item" href="#"><i class="fal fa-edit"></i> Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'Logout' %" name="Logout"><i class="fal fa-sign-out"></i> Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'Register' %}" name='Register'>
                            <button class="btn btn-md btn-primary ms-3" style="margin-left: 30px;">Get Started</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}